[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reflex = "==0.3.2"
pytest = "*"
selenium = "*"
psycopg2 = "==2.9.3"
psycopg2-binary = "==2.9.9"

[dev-packages]

[requires]
python_version = "3.11"
